<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    HeartMap
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../../static/dashboard/material-dashboard.css" rel="stylesheet"/>
  <link href="../../static/dashboard/material-kit.css" rel="stylesheet"/>
</head>

<body class="light-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="danger" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a class="simple-text logo-normal">
          HeartMap
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item ">
            <a class="nav-link" href="./base.html">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          
          
          <li class="nav-item active ">
            <a class="nav-link" href="./scans.html">
              <i class="material-icons">description</i>
              <p>Scans</p>
            </a>
          </li>
        </ul>
        </div>
        
    </div>
    <div class="center">
   
     <div class="main main-raised">
            <div class="container">
                    {% block content %}
                    <h2>Heart Rate Upload</h2>
                        <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="document">
                        <button type="submit" class="btn btn-danger">Upload Scan</button>
                        <button type="process" class="btn btn-danger">Process Scan</button>
                        </form>
                    {% endblock %}
            </div>
        </div>
    </div>

</div>
</body>
</html>